/* CREDITS: modified from my project 2 css file.
      images from my roommate Chuan Huang.
  */

/* main */ 

html * {
   font-family: Montserrat;
}

body {
	margin: auto;
	background-color: #000000;
	width: 1123px;
 }

a {
	display: block;
	width: 200px;
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	color: #F0FFF0;
	font-family: 'Amatic SC', cursive; 
  	text-decoration: none;
  	-webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #838B8B;
}

ul {
	list-style-type: none;
}

h1 {
	font-size: 50px;
	text-align: left;
	color: #2E8B57;
	font-weight: bold;
    margin: 20px;
    text-shadow:2px 3px 3px #333333;
	font-family: 'Amatic SC', cursive; 
}

h2 {
	font-size: 30px;
	text-transform:uppercase;
	text-align: left;
	color: #87CEFF;
	font-weight: bold;
	padding-right: 30px;
	padding-left: 10px;
    margin: 2px;
}

h3 {
	margin: 0;
	padding: 0 0;
	font-size: 20px;
	font-weight: bold;
	word-wrap: break-word;
	position:center;
	color: #B9D3EE;
}

h4 {
	margin: 0;
	padding: 0 0;
	font-size: 17px;
	font-weight: bold;
	word-wrap: break-word;
	color: #2E8B57;
}

h5 {
	margin: 0;
	padding: 0 0;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	color: #E0EEE0;
}

h6 {
	margin: 0;
	padding: 0 0;
	font-size: 20px;
	color: #E0EEE0;
	font-weight: bold;
}

h7 {
	margin: 0;
	padding: 0 0;
	font-size: 20px;
	color: #4e00b3;
	font-weight: bold;
}



/* header and navigation */ 

#divider {
	background-color: #00688B;
	width: 100%;
	height: 3px;
	margin: 10px 1px 10px 1px;
}

#divider1 {
	background-color: #9AC0CD;
	width: 100%;
	height: 2px;
	margin: 10px 1px 10px 1px;
}

#divider2 {
	background-color:#EED2EE;
	position: center;
	width: 100%;
	height: 0.8px;
	margin: 10px 20px 10px 20px;
}

#navigation {
	margin: 10px;
	width: 100%;
	height: 50px;
	display: flex;
	text-align: center;
	position: center;
	background-color: #000000;
}

/* Albums */ 
/* CREDITS: from my catalog.php in project2
	pictures from my roommate's photography
 */ 

.album_display{
	position: relative;
	text-align: center;
	display: flex;
	flex-flow: row wrap;
    justify-content: space-around;
	margin: 10px;
 	width:90%;
}

/*	CREDITS: album diaplay in tranbox
	https://www.w3schools.com/css/tryit.asp?filename=trycss_transparency*/
.transbox {
	display: inline-block;
  	margin: 30px;
  	background-color: #FFFFFF;
  	border-radius: 10px;
  	opacity: 0.8;
  	width: 400px;
  	padding: 10px;
}


/* Photos */ 
/* CREDITS: from my catalog.php in project2
	pictures from my roommate's photography
 */ 


.display {
margin: 20px;
padding: 20px;
display: block;
}

.edit_container{
	display: block;
	margin: auto;
	width: 450px;
	height: 40px;
}

.edit_item {
	display: inline-flex;
}

.photo_display {
    flex-wrap: wrap;
	display: inline-flex;
	margin: 20px;
	width:90%;
}

.gallery_thumbnail {
	position: center;
	margin: 20px;
	display: inline-block;
	padding:10px;
  	background-color: transparent;
}

.photo_description {
	position: relative;
	width: 50%;
	height:120px;
	margin:10px;
	padding: 10px;
	opacity: 1;
	transition: top 0.5s ease;
}


.show_description {
	opacity:0.9;
	height: 35px;
	width: 400px;
	padding: 10px;
	background-color: #FFFFFF;
}

.photo_item a {
	display: block;
	width: 350px;
	position: relative;
}

.hide_description {
	width: 400px;
	background-color: #9bccfd;
	height: 60px;
	opacity:0.9;
	padding: 10px;
}

.name {
	margin: 0 0 0 0px;
	font-size: 30px;
	position: center;
	font-weight: bold;
	color: #9370DB;
}

.description {
	margin: 0 0 0 10px;
}


.image_origin {
	width: 85%;
	height: auto;
}

/** thumbnails */
.image_container {
	width: 300px;
	height: auto;
	border-radius: 5px;
	border: 2px #f0f0f0;
	cursor: pointer;
	opacity: 0.7;
}

.image_container hover{
	opacity: 1;
}

/** buttons */
.edit_delete_button input[class = "button"]{
	width: 100px;
	font-weight: bold;
    background-color: #838B8B;
    color: white;
    font-size: 30px;
    border-right: solid 3px #272727;
	border-bottom: solid 2px #272727;
	padding: 1px;
	border-radius: 8px;
	height: 58px;
	margin: 5px 0 5px 0;
}


.edit_delete_button h7 {
	margin: 0;
	text-decoration: underline;
	font-weight: bold;
	font-size: 20px;
	color: black;
	padding: 5px 0;
	text-align: center;
}

/** Upload photos and add albums
	Modified from my project 2
*/
.add_body {
	flex-wrap: wrap;
	display: flex;
	margin: 0 auto;
	width: 90%;
}

.add_error_message {
	margin: auto 0;
	text-align: right;
	font-size: 20px;
	font-weight: normal;
	max-height: 50px;
	color: #AE0000;
}

.form_container {
	width: 40%;
	padding: 30px;
	margin: 0;
	font-size: 20px;
	color: #66CDAA;
}

.form_container input[type = text] {
	border-radius: 8px;
	margin: 2px;
	padding: 5px 20px;
	height: 50px;
	width: 400px;
	font-size: 35px;
	font-weight: normal;
	border: solid 1px #979797;
}

.form_container input[type = password] {
	border-radius: 8px;
	margin: 2px;
	padding: 5px 20px;
	height: 50px;
	width: 400px;
	font-size: 35px;
	font-weight: normal;
	border: solid 1px #979797;
}

.form_container h1 {
	font-size: 35px;
	text-align: left;
	color: #40E0D0;
	font-weight: bold;
    margin: 20px;
}

.form_container input[class = "button"] {
	font-weight: bold;
    background-color: #3C3C3C;
    color: white;
    font-size: 30px;
    border-right: solid 3px #272727;
	border-bottom: solid 2px #272727;
	padding: 1px;
	border-radius: 8px;
	height: 58px;
	margin: 5px 0 5px 0;
}

.form_container input[class="button"]:hover {
	background-color: #008B45;
	color: 	#79CDCD;
	border-right: solid 3px #008B8B;
	border-bottom: solid 2px #008B8B;
	transition: background-color 0.6s ease;
}

/** thumbnail preview before upload*/
.thumbnail {
    border-radius: 4px;
    padding: 5px;
    width: 400px;
}

/* Search */ 
.search_display {
	position: relative;
	text-align: center;
	display: flex;
	flex-flow: row wrap;
    justify-content: space-around;
	margin: 10px;
}


/* CREDIT: https://www.w3schools.com/howto/howto_css_modals.asp */ 

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #000000;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.popup-message-container h7{
	margin: 0;
	padding: 0 0;
	font-size: 20px;
	color: #ff0000;
	font-weight: bold;
}
