/*
	Styles for site, do not touch this file.
*/

body {
	margin: 0px;
	padding: 0px;
}
.pokemon {
	background: #fafafa;
}
.pokemon .banner {
	background: url(http://cdn.pcwallart.com/images/pixel-landscape-background-wallpaper-1.jpg);
    background-size: cover;
    height: 300px;
    background-position: center center;
}
.pokemon .banner img {
	padding-top: 30px;
    max-height: 200px;
    margin: auto;
    display: block;
}
.pokemon .banner .title {
	color: #FFFFFF;
	font-size: 42px;
	padding-top: 40px;
	text-align: center;
}
input.add-font {
	width: 100px;
}
.menu {
	padding-top: 30px;
	padding-bottom: 30px;
}
.results .cell {
	background: #FFFFFF;
	border-radius: 3px;
	margin-bottom: 30px;
	border: 1px solid #f1f1f1;
}
.results .cell .title {
	font-size: 24px;
	color: #333;
	display: inline-block;
	text-transform: capitalize;
}
.results .cell .weight {
	padding: 0px 20px 20px 20px;
	border-bottom: 1px solid #eaeaea;
}
.results .cell .stats,
.results .cell .types {
	border-bottom: 1px solid #eaeaea;
    padding: 20px;
    font-size: 18px;
}

.results .cell .stats .item,
.results .cell .types .item {
	color: #666;
	font-size: 16px;
}
.results .cell .stats .item .int {
	display: inline;
    color: #444;
}